@font-face {
    font-family: CustomFont;
    src: url('./Alkatra-VariableFont_wght.ttf');
}
@font-face {
    font-family: BoldFont;
    src: url('./THEBOLDFONT.ttf');
}

.Bold {
    font-family: BoldFont;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
    margin: auto;
  }